﻿@page "/role"
@using VacationSchedule.Core.Models.DB;
@inject HttpClient Http

<PageTitle>Роли</PageTitle>

<h1>Роли</h1>

@if (roles == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Наименование</th>
                <th>Права администратора</th>
                <th>Начальник департамента</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var role in roles)
            {
                <tr>
                    <td>@role.RoleName</td>
                    <td align="center"><input type="checkbox" checked="@(role.IsAdminRights)" disabled="true" style="width:20px; height:20px;" /></td>
                    <td align="center"><input type="checkbox" checked="@(role.IsHeadOfDepartmentRights)" disabled="true" style="width:20px; height:20px;" /></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Role[] roles;

    protected override async Task OnInitializedAsync()
    {
        roles = await Http.GetFromJsonAsync<Role[]>($"api/Role");
    }
}
